
@{
    Layout = null;
}

@model HungryPanda.ViewModels.CityAndAreaViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jquery")


    @Styles.Render("~/Content/Site.css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("scripts", required: false)*@
    @Styles.Render("~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/fonts/themify/themify-icons.css")
    @Styles.Render("~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
    @Styles.Render("~/Content/fonts/elegant-font/html-css/style.css")
    @Styles.Render("~/Content/vendor/animate/animate.css")
    @Styles.Render("~/Content/vendor/css-hamburgers/hamburgers.min.css")
    @Styles.Render("~/Content/vendor/animsition/css/animsition.min.css")
    @Styles.Render("~/Content/vendor/select2/select2.min.css")
    @Styles.Render("~/Content/vendor/daterangepicker/daterangepicker.css")
    @Styles.Render("~/Content/vendor/slick/slick.css")
    @Styles.Render("~/Content/vendor/lightbox2/css/lightbox.min.css")
    @Styles.Render("~/Content/css/util.css")
    @Styles.Render("~/Content/css/main.css")
    <!--===============================================================================================-->
</head>
<body>


    <div class="container " style="width: 40%; margin-top: 50px; ">
        @if (ViewBag.messege != null)
        {
            <div class="alert alert-success">
                <strong>@ViewBag.messege</strong>
            </div>
        }
        <h1 class="h3 mb-3 font-weight-normal">Add New resturant</h1>

        @using (Html.BeginForm("addNewResturant", "Admins", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-signin" }))
        {

            <input required type="text" name="ResturantOwnerName" class="form-control" id="ResturantOwnerName" placeholder="Resturant Owner Name">
            <input required type="text" name="ResturantName" class="form-control" id="ResturantName" placeholder="Resturant Name">
            <input required type="email" name="Email" class="form-control" id="Email" placeholder="Email">
            <input required type="text" name="Phone" class="form-control" id="Phone" placeholder="Phone">
            <input required type="text" name="Address" class="form-control" id="Address" placeholder="Address">
            <input required type="text" value="ResturantOwner" name="Role" class="form-control" hidden id="Address" placeholder="Address">
            <input required type="number" value="1" name="ResturantStatus" class="form-control" hidden id="Address" placeholder="Address">
            <input required type="datetime" value="@DateTime.Now" name="JoinDate" class="form-control" hidden id="Address" placeholder="Address">


            <div class="input-group-lg">


                <select name="AreaId" class="custom-select btn-block " id="AreaId" required>
                    <option value="-1" selected="selected">Area</option>
                    @foreach (var area in Model.Areas)
                    {
                        <option value="@area.Id"> @area.Name</option>

                    }

                </select>

            </div>

            <input type="Password" name="Password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-dark btn-block" type="submit">Add</button>


        }
    </div>
</body>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@section scripts {



</html>



}

