@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    @Scripts.Render("~/bundles/jquery")


    @Styles.Render("~/Content/Site.css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("scripts", required: false)*@
    @Styles.Render("~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/fonts/themify/themify-icons.css")
    @Styles.Render("~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
    @Styles.Render("~/Content/fonts/elegant-font/html-css/style.css")
    @Styles.Render("~/Content/vendor/animate/animate.css")
    @Styles.Render("~/Content/vendor/css-hamburgers/hamburgers.min.css")
    @Styles.Render("~/Content/vendor/animsition/css/animsition.min.css")
    @Styles.Render("~/Content/vendor/select2/select2.min.css")
    @Styles.Render("~/Content/vendor/daterangepicker/daterangepicker.css")
    @Styles.Render("~/Content/vendor/slick/slick.css")
    @Styles.Render("~/Content/vendor/lightbox2/css/lightbox.min.css")
    @Styles.Render("~/Content/css/util.css")
    @Styles.Render("~/Content/css/main.css")


 
    <!--===============================================================================================-->
</head>
<body>


    <div class="container " style="width: 40%; margin-top: 50px; ">
        @if (ViewBag.messege != null)
        {
            <div class="alert alert-success">
                <strong>@ViewBag.messege</strong>
            </div>
        }
        <h1 class="h3 mb-3 font-weight-normal">Add New Admin</h1>

        @using (Html.BeginForm("addNewAdmin", "Admins", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-signin" }))
        {

            <input type="text" name="Name" class="form-control" id="adminName" placeholder="Name">
            <input type="email" name="Email" class="form-control" id="adminEmail" placeholder="Email">
            <input type="text" name="Phone" class="form-control" id="adminPhone" placeholder="Phone">
            <input type="text" name="Address" class="form-control" id="adminAddress" placeholder="Address">
            <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required>


            <button class="m-b-59 btn-lg btn-primary btn-dark btn-block" type="submit">Add</button>

        }
    </div>





    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../../../vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="../../js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../vendor/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">
        $('.block2-btn-addcart').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

        $('.block2-btn-addwishlist').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="../../js/main.js"></script>
</body>
</html>