<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.css")

    @Styles.Render("~/Content/Site.css")
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/fonts/themify/themify-icons.css")
    @Styles.Render("~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
    @Styles.Render("~/Content/fonts/elegant-font/html-css/style.css")
    @Styles.Render("~/Content/vendor/animate/animate.css")
    @Styles.Render("~/Content/vendor/css-hamburgers/hamburgers.min.css")
    @Styles.Render("~/Content/vendor/animsition/css/animsition.min.css")
    @Styles.Render("~/Content/vendor/select2/select2.min.css")
    @Styles.Render("~/Content/vendor/daterangepicker/daterangepicker.css")
    @Styles.Render("~/Content/vendor/slick/slick.css")
    @Styles.Render("~/Content/vendor/lightbox2/css/lightbox.min.css")
    @Styles.Render("~/Content/css/util.css")
    @Styles.Render("~/Content/css/main.css")

</head>
<body class="animsition">
    @* Header starts *@
    @Html.Partial("_NavBar")



    @RenderBody()
    @* Footer starts *@
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know. H-12 ,R-43 ,Gulshan-1 Dhaka -1122.Email-mail@hungrypanda.com

                    </p>

                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Food Categories
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Pizza
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Burgers
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Rolls
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Chineese
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <!-- <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li> -->

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/Content/vendor/jquery/jquery-3.2.1.min.js")*@
    @Scripts.Render("~/Content/vendor/animsition/js/animsition.min.js")
    @Scripts.Render("~/Content/vendor/bootstrap/js/popper.js")
    @Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/vendor/select2/select2.min.js")
    @Scripts.Render("~/Content/vendor/slick/slick.min.js")
    @Scripts.Render("~/Content/js/slick-custom.js")
    @Scripts.Render("~/Content/vendor/countdowntime/countdowntime.js")
    @Scripts.Render("~/Content/vendor/lightbox2/js/lightbox.min.js")
    @Scripts.Render("~/Content/vendor/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/js/main.js")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            console.log("hello layout");
            $("#datatable").DataTable();


        });

    </script>

</body>
</html>
